.header {
    color: white;
    background: teal;
    text-align: center;
    border color: #cccccc;
    float: left;
    position: fixed;

}

.menu {
    float: right;
}

.main {
    background: white;
}




footer {
    width: 100%;
    height: 50px;
    background: #666666;
    color: white;
    text-align: center;

}