/* Layout for all HTML */
.header {
    position: relative;
    width: 960px;
    height: 80px;
    color: white;
    margin: 0 auto;
    border-color: #dddddd;

}
#name {
    position: absolute;
    width: 30%;
    height: 100%;
    background: teal;
    text-align: center;
    margin: 0 auto;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.menu {
    position: absolute;
    right: 0;
    top: 30%;
    word-spacing: 5px;
}


p, a {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.about-me {
    line-height: 40px;
}

h2 {
    color: teal;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


#box {
    background-image: url(../images/gravel.png);
    position: relative;
    padding-top: 30px;
    padding-bottom: 200px;
    border-color: #dddddd;
}

.wrapper {
    width: 860px;
    margin: 0 auto;
    background: white;
    border-color: #dddddd;
    padding: 50px;
    position: relative;
    /* height: 800px; */
}

/* Style for Contact.html */
form {
    margin-top: 30px;
    width: 960px;
    color: #777777;
}

input {
    width: 855px;
    height: 30px;
}

textarea {
    width: 855px;
    height: 150px;
}

button {
    width: 100px;
    height: 40px;
    background: teal;
    color: white;
    font-size: 15px;
}

/* Style for portfolio */
.image1 {
    width: 200px;
    height: 200px;
    /* float: left; */
    margin-right: 10px;
    border-color: #666666;
    margin-top: 30px;
    border: 1px solid #666666;
}
.image2 {
    width: 200px;
    height: 200px;
    border: 1px solid #666666;
    margin-top: 30px;
    margin-left: 60px;
    position: absolute;
    left: 250px;
    top: 119px;
}

.image3 {
    width: 200px;
    height: 200px;
    border: 1px solid #666666;
    margin-top: 30px;
    margin-left: 60px;
    position: absolute;
    left: 250px;
    top: 350px;
}
.img-banner {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
    bottom: 50px;
    left: 0px;
    width: 200px;
    height: 30px;
    background: teal;
    color: white;
    text-align: center;
}

footer {
    width: 100%;
    height: 40px;
    background: #666666;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: auto;
}